@model IEnumerable<ProductViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
    <style>
        .slide-in {
            opacity: 0;
            transform: translateY(-100px);
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
            margin-top: 50px; /* Adjusted margin-top */
        }

            .slide-in.show {
                opacity: 1;
                transform: translateY(0);
            }
    </style>
</head>
<body>
    <h1 class="text-center" style="color: #8F8F8F">All Products</h1>
    <br />
    <div id="slide-in-container" class="card text-center slide-in" style="border-radius: 15px; overflow: hidden;">
        <div class="card-body" style="border: none; background-color: #55C0F0; margin-bottom: 0;">
            @if (Model.Count() > 0)
            {
                <table class="table" style="border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th scope="col" style="border: none; color: #DBF6FF"><b>Product Name</b></th>
                            <th scope="col" style="border: none; color: #DBF6FF"><b>Product Price</b></th>
                            <th scope="col" style="border: none; color: #DBF6FF"><b>Product Quantity</b></th>
                            <th scope="col" style="border: none; color: #DBF6FF"><b>Action</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr style="border: none;">
                                <th scope="row" style="border: none; color: #DBF6FF">@product.ProductName</th>
                                <td style="border: none; color: #DBF6FF">@product.ProductSellingPrice</td>
                                <td style="border: none; color: #DBF6FF">@product.ProductQuantity</td>
                                <td style="border: none;">
                                    <a asp-controller="Sale" asp-action="AddProductToSale" asp-route-saleId="@product.SaleId" asp-route-productId="@product.Id" class="btn btn-success p-3 fw-bold rounded-pill me-2" style="width: 100px; background-color: #1D7FCC; border: none; box-shadow: none">Select</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h1>No Products Available.</h1>
            }
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var container = document.getElementById("slide-in-container");
            container.classList.add("show");
        });
    </script>
</body>
</html>