@model SaleViewModel

<div class="card text-center" style="border-radius: 15px; overflow: hidden;">
    <div class="card-header" style="border-radius: 15px 15px 0 0; background-color: #2295F0; color: #DBF6FF;">
        <b>Sale Number: @Model.Id</b>
    </div>
    <div class="card-body" style="border: none; background-color: #55C0F0; margin-bottom: 0;">
        @{
            if (Model.SaleProducts.Count() > 0)
            {
                <table class="table" style="border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th scope="col" style="border: none; color: #DBF6FF">Product Name</th>
                            <th scope="col" style="border: none; color: #DBF6FF">Product Price</th>
                            <th scope="col" style="border: none; color: #DBF6FF">Product Quantity</th>
                            <th scope="col" style="border: none; color: #DBF6FF">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.SaleProducts)
                        {
                            <tr style="border: none;">
                                <th scope="row" style="border: none; color: #DBF6FF">@product.ProductName</th>
                                <td style="border: none; color: #DBF6FF">@product.ProductSellingPrice</td>
                                <td style="border: none; color: #DBF6FF">@product.ProductQuantity</td>
                                <td style="border: none; color: #DBF6FF; display: flex; justify-content: center; align-items: center;">
                                    <form asp-controller="Sale" asp-action="DecreaseProductQuantity" method="post">
                                        <input type="hidden" name="saleId" value="@Model.Id" />
                                        <input type="hidden" name="productId" value="@product.Id" />
                                        <button type="submit" class="btn btn-success fw-bold rounded-pill" style="width: 50px; background-color: transparent; border: none; box-shadow: none; margin: 0; padding: 0;">
                                            ➖
                                        </button>
                                    </form>
                                    <form asp-controller="Sale" asp-action="IncreaseProductQuantity" method="post">
                                        <input type="hidden" name="saleId" value="@Model.Id" />
                                        <input type="hidden" name="productId" value="@product.Id" />
                                        <button type="submit" class="btn btn-success fw-bold rounded-pill" style="width: 50px; background-color: transparent; border: none; box-shadow: none; margin: 0; padding: 0;">
                                            ➕
                                        </button>
                                    </form>
                                    <form asp-controller="Sale" asp-action="RemoveProductFromSale" method="post">
                                        <input type="hidden" name="saleId" value="@Model.Id" />
                                        <input type="hidden" name="productId" value="@product.Id" />
                                        <button type="submit" class="btn btn-success fw-bold rounded-pill" style="width: 50px; background-color: transparent; border: none; box-shadow: none; margin: 0; padding: 0;">
                                            ❌
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" style="border: none; color: #8AFF80; text-align: center; font-size: 20px;">
                                <b>Total Price: @Model.TotalPrice</b>
                            </td>
                        </tr>
                        @if (@Model.IsDiscountAplied == true)
                        {
                            <tr>
                                <td colspan="4" style="border: none; color: #8AFF80; text-align: center; font-size: 20px;">
                                    <b>Total Price With Discount: @Model.TotalPriceWithDiscount</b>
                                </td>
                            </tr>
                        }
                    </tfoot>
                </table>
            }
            else
            {
                <p class="card-text" style="color: #DBF6FF">There are no products.</p>
            }
        }
    </div>
    <div class="card-footer text-muted d-flex justify-content-center flex-wrap align-items-center" style="border-radius: 0 0 15px 15px; background-color: #55C0F0; border-top: none; margin-top: 0; position: relative;">
        <a asp-controller="Sale" asp-action="AllProducts" asp-route-saleId="@Model.Id" class="btn btn-success p-3 fw-bold rounded-pill me-2" style="width: 150px; background-color: #1D7FCC; border: none; box-shadow: none">Add Product</a>
        <button type="button" class="btn btn-primary p-3 fw-bold rounded-pill me-2" style="width: 150px; background-color: #1D7FCC;" data-toggle="modal" data-target="#exampleModalCenter">
            Add Discount
        </button>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="border-radius: 15px;background-color: #DBF6FF;">
                    <div class="modal-header" style="border: none">
                        <h5 class="modal-title" id="exampleModalLongTitle" style="color: #1D7FCC;"><b>Confirm Discount For Sale</b></h5>
                    </div>
                    <div class="modal-body" style="border: none;">
                        <form asp-controller="Sale" asp-action="AddDiscountToSale" method="post" style="margin: 0;">
                            <input type="hidden" name="saleId" value="@Model.Id" />
                            <input type="hidden" name="discountPercentage" value="5" />
                            <button type="submit" class="btn btn-success fw-bold rounded-pill" style="width: 50px; font-size: 20px; color: #55C0F0; background-color: transparent; border: none; box-shadow: none; margin: 0; padding: 0;">
                                5%
                            </button>
                        </form>
                        <form asp-controller="Sale" asp-action="AddDiscountToSale" method="post" style="margin: 0;">
                            <input type="hidden" name="saleId" value="@Model.Id" />
                            <input type="hidden" name="discountPercentage" value="10" />
                            <button type="submit" class="btn btn-success fw-bold rounded-pill" style="width: 50px; font-size: 20px; color: #55C0F0; background-color: transparent; border: none; box-shadow: none; margin: 0; padding: 0;">
                                10%
                            </button>
                        </form>
                        <form asp-controller="Sale" asp-action="AddDiscountToSale" method="post" style="margin: 0;">
                            <input type="hidden" name="saleId" value="@Model.Id" />
                            <input type="hidden" name="discountPercentage" value="15" />
                            <button type="submit" class="btn btn-success fw-bold rounded-pill" style="width: 50px; font-size: 20px; color: #55C0F0; background-color: transparent; border: none; box-shadow: none; margin: 0; padding: 0;">
                                15%
                            </button>
                        </form>
                        <form asp-controller="Sale" asp-action="AddDiscountToSale" method="post" style="margin: 0;">
                            <input type="hidden" name="saleId" value="@Model.Id" />
                            <input type="hidden" name="discountPercentage" value="20" />
                            <button type="submit" class="btn btn-success fw-bold rounded-pill" style="width: 50px; font-size: 20px; color: #55C0F0; background-color: transparent; border: none; box-shadow: none; margin: 0; padding: 0;">
                                20%
                            </button>
                        </form>
                    </div>
                    <div class="modal-footer" style="border:none;">
                        <button type="button" class="btn btn-success p-3 fw-bold rounded-pill me-2" style="width: 150px; color: #FF9F9F; background-color: #1D7FCC; border: none; box-shadow: none" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <form asp-controller="Sale" asp-action="RemoveDiscountFromSale" method="post" style="margin: 0;">
            <input type="hidden" name="saleId" value="@Model.Id" />
            <button type="submit" class="btn btn-success p-3 fw-bold rounded-pill me-2" style="width: 200px; color: #FF9F9F; background-color: #1D7FCC; border: none; box-shadow: none">
                Remove Discount
            </button>
        </form>
        <a asp-controller="Sale" asp-action="Sale" asp-route-saleId="@Model.Id" class="btn btn-success p-3 fw-bold rounded-pill me-2" style="width: 150px; background-color: #6AFF89; border: none; box-shadow: none">Finalize</a>
        <a asp-controller="Sale" asp-action="MySales" class="btn btn-success p-3 fw-bold rounded-pill me-2" style="width: 150px; color: #FF9F9F; background-color: #1D7FCC; border: none; box-shadow: none">Back To Sales</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>